<!DOCTYPE html>
<html lang="en">
<head>

<title>Explorer</title>



<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->



<!--Bootstrap + angular-->
<script src="/components/angular/angular.js"></script>
<link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.css" />
<script src="/components/bootstrap/dist/js/bootstrap.js"></script>
<script src="/components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<!--Google endpoint API-->
<script src="/components/client/index.js"></script>
<!--D3-->
<script src="/components/d3/d3.min.js"></script>
<!--ng-table-->
<script src="/components/ng-table/dist/ng-table.min.js"></script>
<!-- Spinner -->
<script src="/components/spin.js/spin.js"></script>
<link rel="stylesheet" type="text/css" href="/components/angular-loading/angular-loading.css"/>
<script src="/components/angular-loading/angular-loading.js"></script>


<!--Google API loader -->
<script src="/scripts/initGapi.js"></script>
<!--Viewer-->
<script src="/scripts/viewer/ViewerApp.js"></script>
<script src="/scripts/viewer/ViewerDataService.js"></script>
<link href="/scripts/viewer/Viewer.css" rel="stylesheet">
<!--Dependency tree -->
<script src="/scripts/tree/TreeDirective.js"></script>
<link href="/scripts/tree/Tree.css" rel="stylesheet">

</head>


<body ng-app="app" ng-controller="appController" onload='init()'>
<div dw-loading="libraries"  class="users-list">


	<div class="container">
	

	
		<div class="jumbotron">
			<h1>Dependency</h1>
			<p>Search for Maven artifacts and visualize their dependencies.</p>
		</div>
		
		<div>
		  <alert  type="{{message.type}}" >{{message.msg}}</alert>
		</div>
		
		<tabset justified="true"> <tab heading="Search for an Artifact">



		<div ng-controller="hideTableCtrl">
		<form name="simpleSearchForm" novalidate>
			<input type="text" ng-model="simpleSearch.artifactId" class="form-control" placeholder="Artifact ID" required=""> <input class="btn btn-primary" type="submit" value="Search"
				ng-click="getSimpleMavenData(simpleSearchForm,simpleSearch)">
		</form>
		<button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Hide / Show table data</button>				
		<div collapse="isCollapsed">
			<table ng-table="tableParams" class="table ng-table-responsive">
				<tbody>
					<tr ng-repeat="library in $data" ng-click="getMavenDataFromTableClick(library)">
						<td data-title="'Group Id'" sortable="'groupId'">{{library.group}}</td>
						<td data-title="'Artifact Id'">{{library.name}}</td>
						<td data-title="'Latest Version'" sortable="'version'">{{library.version}}</td>
					</tr>
				</tbody>
	
			</table>
		</div>
	</div>
 </tab> <tab heading="Display a specific Artifact">

		<form name="search" novalidate>
			<input type="text" ng-model="group" class="form-control" class="form-control" id="group-id" name="group-id" placeholder="Group ID" required=""> <input type="text" ng-model="artifact"
				class="form-control" class="form-control" id="arifact-id" name="artifact-id" placeholder="Artifact ID" required=""> <input type="text" ng-model="version" class="form-control"
				class="form-control" id="version" name="version" placeholder="Version" required=""> <input class="btn btn-primary" type="submit" value="Search" ng-click="getMavenData(search)">
		</form>
		</tab> <tab heading="About this project">
		<p>Here are projects and tools used to build this service:</p>
		<ul>
			<li>Angular</li>
			<li>D3</li>
			<li>ng-table</li>
			<li><a href="https://github.com/darthwade/angular-loading">Angular loading project</a></li>
		</ul>

		</tab> 
		

		</tabset>






		<tree-visualization val="data"></tree-visualization>

	</div>
</div>
</body>
