
<div dw-loading="libraries"  class="users-list">
	

		
		<tabset justified="true"> <tab heading="Search for an Artifact">



		<div ng-controller="hideTableCtrl">
		<form name="simpleSearchForm" novalidate>
			<input type="text" ng-model="simpleSearch.artifactId" class="form-control" placeholder="Artifact ID" required=""> <input class="btn btn-primary" type="submit" value="Search"
				ng-click="getSimpleMavenData(simpleSearchForm,simpleSearch)">
		</form>
		<button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Hide / Show table data</button>				
		<div collapse="isCollapsed">
			<table ng-table="tableParams" class="table ng-table-responsive">
				<tbody>
					<tr ng-repeat="library in $data" ng-click="getMavenDataFromTableClick(library)">
						<td data-title="'Group Id'" sortable="'groupId'">{{library.group}}</td>
						<td data-title="'Artifact Id'">{{library.name}}</td>
						<td data-title="'Latest Version'" sortable="'version'">{{library.version}}</td>
					</tr>
				</tbody>
	
			</table>
		</div>
	</div>
 </tab> <tab heading="Display a specific Artifact">

		<form name="search" novalidate>
			<input type="text" ng-model="group" class="form-control" class="form-control" id="group-id" name="group-id" placeholder="Group ID" required=""> <input type="text" ng-model="artifact"
				class="form-control" class="form-control" id="arifact-id" name="artifact-id" placeholder="Artifact ID" required=""> <input type="text" ng-model="version" class="form-control"
				class="form-control" id="version" name="version" placeholder="Version" required=""> <input class="btn btn-primary" type="submit" value="Search" ng-click="getMavenData(search)">
		</form>
		</tab> <tab heading="About this project">
		<p>Here are projects and tools used to build this service:</p>
		<ul>
			<li>Angular</li>
			<li>D3</li>
			<li>ng-table</li>
			<li><a href="https://github.com/darthwade/angular-loading">Angular loading project</a></li>
		</ul>

		</tab> 
		

		</tabset>


		<tree-visualization val="data"></tree-visualization>


</div>

